doctype html
html(lang="zh-TW", itemtype="http://schema.org/Article")
	head
		block head_meta
			meta(charset="utf-8")
			meta(name="theme-color", content="#f93939")
			meta(name="description", content="Hi, This is Jimmy Cheng, I'm a Web Developer who lived in Taiwan.")
			meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		block head_title
			title Jimmmmy.com
		block head_style
			link(rel="profile", href="http://gmpg.org/xfn/11")
			link(rel="shortcut icon", href="favicon.ico")
			link(rel="stylesheet", href="css/bootstrap.min.css")
			link(rel="stylesheet", href="css/font-awesome.min.css")
			link(rel="stylesheet", href="css/style.css")
		block seo_meta
			link(rel="author", href="https://plus.google.com/+ChinJenCheng")
			link(rel="publisher", href="https://plus.google.com/+ChinJenCheng")
			meta(itemprop="name", content="Jimmmmy.com")
			meta(itemprop="description", content="Hi, This is Jimmy Cheng, I'm a Web Developer who lived in Taiwan.")
			meta(property="og:title", content="Jimmmmy.com")
			meta(property="og:type", content="resume")
			meta(property="og:url", content="https://jimmmmy.com")
			meta(property="og:description", content="Hi, This is Jimmy Cheng, I'm a Web Developer who lived in Taiwan.")
			meta(property="og:site_name", content="Jimmmmy.com")

	body
		noscript
			iframe(src="//www.googletagmanager.com/ns.html?id=GTM-N5NTRF", height="0", width="0", style="display:none;visibility:hidden")
		a#back-to-top.hidden-print(href="#", title="Back to top") &uarr;
		.container
			.whole
				.whole-wrap
					.row
						.col-sm-4.col-print-4
							include left_area.pug
						.col-sm-8.col-print-8
							block body_right_area
		.footer.hidden-print.hidden-xs.hidden-sm
			.container
				.row
					.col-xs-12 Copyright © 2018 Jimmmmy.com. Designed by myself and it's not coming from any template website.

		block body_scripts
			script(src="js/jquery-1.12.4.min.js")
			script(src="js/bootstrap.min.js")
			script(src="js/bootstrap-progressbar.min.js")
			script(src="js/masonry.pkgd.min.js")
			script(src="js/script.js")