doctype html
html(lang="zh-TW", itemtype="http://schema.org/Article")
	head
		block head_meta
			meta(charset="utf-8")
			meta(name="theme-color", content="#f93939")
			meta(name="description", content="Hi, This is Jimmy Cheng, I'm a Web Developer who lived in Taiwan.")
		block head_title
			title Jimmmmy.com
		block head_style
			link(rel="stylesheet", href="css/bootstrap.min.css")
			link(rel="stylesheet", href="css/font-awesome.min.css")
			link(rel="stylesheet", href="css/style.css")
	body
		//- .page-index
		a#back-to-top.hidden-print(href="#", title="Back to top") &uarr;
		.container
			.whole
				.whole-wrap
					.row
						.col-sm-4.col-print-4
							include left_area.pug
						.col-sm-8.col-print-8
							block body_right_area
		.footer.hidden-print.hidden-xs.hidden-sm
			.container
				.row
					.col-xs-12 Copyright © 2018 Jimmmmy.com. Designed by myself and it's not coming from any template website.

		block body_scripts
			script(src="js/jquery-1.12.4.min.js")
			script(src="js/bootstrap.min.js")
			script(src="js/bootstrap-progressbar.min.js")
			script(src="js/masonry.pkgd.min.js")
			script(src="js/script.js")