.row
	.col-xs-12
		h2 Experience
.content
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Dec.2020 ~ Now
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.title.visible-print-block
				p 工程師 / Engineer
					span.date Dec.2020 ~ Now
			.company
				p @
					a(href="https://shopline.tw/", target="_blank") SHOPLINE Limited. (Taiwan)
			.description
				ul
					li I'm in a new department in Shopline, providing custom service projects for our Key Accounts
					li Using serverless stack with AWS to fulfill requirements

				p #[.bold Introduced several enhancements]
					ul
						li Building a dedicated infra environment for our team with proof
						li Enhance the CI/CD process with clear scripts
						li Developed AWS Lambda Functions with Express.js framework, ready to migrate to any dedicated server at any time
						li Introducing service metrics with AWS Lambda Insights and X-Ray, treat monitoring with importance
						li Introduce log rotation, reduce useless CloudWatch logs
						li Writing unit test in isolated environment
				p #[.bold Initiate product oriented project]
					ul
						li Not just build for a single client
						li In charge of project planning, system designing, task assigning, developing, and maintaining

	hr.hidden-print
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Sep.2018 ~ Nov.2020
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.title.visible-print-block
				p 工程師 / Engineer
					span.date Sep.2018 ~ Nov.2020
			.company
				p @
					a(href="https://inline.app/", target="_blank") inLine Apps Ltd. (Taiwan)
			.description
				ul
					li Provide a booking management system for Food and Beverage service
					li Provide good quality products which serve 4+ countries in APAC, avg. 38K reservations created per day in 2019
					li Work with remote team members located in New York
					li Create Customer Service Guideline, planning how to handle customer service
					li Planning API implementation guideline for development team, separate single controller into several layers in API
				p #[.bold Build staging environment]
					ul
						li Build a staging environment with our infrastructure stack
						li Integrate with Loader.io for the purpose of testing, e.g. stress testing, performance testing
						li Integrate with CircleCI, make performance testing as one of our CI/CD pipelines
						li Planning near-production data cloning and generating for staging environment
				p #[.bold Enhance data monitoring system]
					ul
						li Gathering data from client (iOS App) and server, compare the difference to determine the data synchronization status
						li Measure latency between client and all cloud services, visualized on Kibana, populate data to Google Stackdriver and set up corresponding alerts
						li Determine the bottleneck by metrics, keep optimizing our service
				p #[.bold Build billing system]
					ul
						li Maintain and handle the current billing process
						li Planning new billing system and accounting system
						li Automate all manual tasks like billing calculations, payments & payouts invoicing
						li Handling complicated pricing models
	hr.hidden-print
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Dec.2017 ~ Aug.2018
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.title.visible-print-block
				p 工程師 / Engineer
					span.date Dec.2017 ~ Aug.2018
			.company
				p @
					a(href="https://ljit.io/", target="_blank") LJIT.io (Taiwan)
			.description
				ul
					li Use Node.js, Express.js, Gulp.js, React, Redux, Pug, MongoDB, Redis
					li I'm in charge of back-end and front-end development
				p #[.bold Involved project]
					ul
						li #[.underline Customer service system]
							ul
								li Front-end and back-end development for the chat room, analysis system, and reporting system
								li Using Socket.io to communicate between client and server side
						li #[.underline Real-time chat system]
							ul
								li Front-end and back-end development for the landing page, admin dashboard, chat room
								li Using Socket.io to communicate between client and server side
						li #[.underline Recommendation system in lottery game]
							ul
								li Back-end development for gaming logic implementation, lottery drawing calculation
								li Using Electron to build client-side applications
	hr.hidden-print
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Oct.2016 ~ Dec.2017
		.col-md-9
			.title.hidden-print
				p 後端工程師 / Back-end Developer
			.title.visible-print-block
				p 後端工程師 / Back-end Developer
					span.date Oct.2016 ~ Dec.2017
			.company
				p @
					a(href="http://www.paradise-soft.com/", target="_blank") Paradise Soft (Taiwan)
			.description
				ul
					li Cooperate with the front-end team and mobile application team
				p #[.bold Involved project]
					ul
						li #[.underline Back-end API]
							ul
								li Develop and maintain API
								li Optimize MySQL query
						li #[.underline Crawler service]
							ul
								li Crawl target website periodically with task manager
								li Implemented data validation, preventing fake results from spam websites
								li Implemented a simple failover for all crawler servers with Heartbeat Mechanism
						li #[.underline API for iOS and Android App]
							ul
								li Optimize response data content, decrease network throughput
								li Implemented API version control system
								li Implemented App version control system, can do live(hot) update, support app rollback without re-submitting for review
				p #[.bold Back-end development stack I used]
					ul
						li Using Golang for back-end API development
						li Using MySQL to store data, handling huge data by using index and partition
						li Using Gulp.js to do the batch task
	hr.hidden-print
	.row.hidden-print
		.col-md-3
		.col-md-9
			h4 @
				a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc. (Taiwan)
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Mar.2016 ~ Sep.2016
		.col-md-9
			.title.hidden-print
				p 專案經理 / Project Manager
			.title.visible-print-block
				p @FLiPER Creative Inc. (Taiwan)
			.company.visible-print-block
				p 專案經理 / Project Manager
					span.date Mar.2016 ~ Sep.2016
			.description
				ul.padding-left-20
					li Project management
					li Business development
					li System analysis and design
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Mar.2015 ~ Sep.2016
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.company.visible-print-block
				p 工程師 / Engineer
					span.date Mar.2015 ~ Sep.2016
			.description
				p Contributed to outsourcing business
				ul.padding-left-20
					li Setup website infrastructure
					li Developed websites using WordPress (PHP + MySQL)
					li Customize the WordPress module, including administrator dashboard, membership level system, email system, online shop, and crowdfunding platform
					li Design website front-end layout
					li Developed payment gateway plugin for WooCommerce (AllPay, PayPal, ECPay, Pay2GO, Spagateway)
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Nov.2014 ~ Mar.2015
		.col-md-9
			.title.hidden-print
				p 工程實習生 / Engineer Internship
			.company.visible-print-block
				p 工程實習生 / Engineer Internship
					span.date Nov.2014 ~ Mar.2015
			.description
				ul.padding-left-20
					li Developed Joomla's payment gateway plugin, using T-CAT (統一客樂得) Payment
					li Developed WordPress plugin
