.row
	.col-xs-12
		h2 Experience
.content
	.row.hidden-print
		.col-xs-12
			h4
				.company
					a(href="https://shopline.com/", target="_blank") SHOPLINE (Taiwan)
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Dec.2020 ~ Now
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.title.visible-print-block
				p SHOPLINE (Taiwan)
			.company.visible-print-block
				p 工程師 / Engineer
					span.date Dec.2020 ~ Now
			.description
				ul
					li Join new department "Custom Service Team" in Shopline, providing custom service for key accounts
					li Introduced several enhancements, including Terraform script, CI/CD pipeline process, service monitoring, log rotation, unit test
					li Introduced Express.js framework into Lambda function, planning to migrate to container based solution
				p #[.bold Propose and push our team to have our own product]
					ul
						li Collect requirements from merchants, abstract the business logic, and build product for everyone
						li In charge of product planning, system designing, task arrangement, developing, and maintaining
				p #[.bold Published products]
					ul
						li #[.underline O2O QR Code Redemption Service]
							ul
								li Solution for clients to order on eShop, redeem in realistic shop
								li Flexible, multiple scenario to fit several kinds of merchants requirements, e.g. Retailer, Department Store, Social E-Commerce
								li Have 5 activity merchants, published 30k redeem coupons
						li #[.underline Product multi-variation images for eShop]
							ul
								li A plugin for eShop to have multiple images in variation product
								li Have 5 activity merchants
	hr.hidden-print
	.row.hidden-print
		.col-xs-12
			h4
				.company
					a(href="https://inline.app/", target="_blank") inline Apps (Taiwan)
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Sep.2018 ~ Nov.2020
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.title.visible-print-block
				p inline Apps (Taiwan)
			.company.visible-print-block
				p 工程師 / Engineer
					span.date Sep.2018 ~ Nov.2020
			.description
				ul
					li Backend service maintenance, new feature development
					li Contributed to lots of documentations e.g. implementation guideline, troubleshooting, knowledge base
					li Working closely with remote team members located in New York, Hong Kong and Singapore
				p #[.bold Staging environment plan]
					ul
						li The goal is to improve API stability, I'm in charge of staging environment creation with production infrastructure specification
						li Do load testing to know current service capacity, with nearing-production data
						li Make script to enable/disable all infra, reduce cost
				p #[.bold Join finance team]
					ul
						li The goal is to collect our service fee accurately, and reduce manual tasks by automation
						li Build new billing system with existing fee plans
						li Build slack bot to generate specific report file, make finance team members can get the report on their own

	hr.hidden-print
	.row.hidden-print
		.col-xs-12
			h4
				.company LJIT.io
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Dec.2017 ~ Aug.2018
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.title.visible-print-block
				p LJIT.io
			.company.visible-print-block
				p 工程師 / Engineer
					span.date Dec.2017 ~ Aug.2018
			.description
				ul
					li Tech stack:  Node.js, Express.js, Gulp.js, React, Redux, Pug, MongoDB, Redis
					li I'm in charge of back-end and front-end development
				p #[.bold Involved project]
					ul
						li #[.underline Customer service system]
							ul
								li Including chat room, analysis system and reporting system
								li Using Socket.io to communicate between client and server side
						li #[.underline Real-time chat system]
							ul
								li Including landing page, admin dashboard and chat room
								li Using Socket.io to communicate between client and server side
	hr.hidden-print
	.row.hidden-print
		.col-xs-12
			h4
				.company
					a(href="http://www.paradise-soft.com/", target="_blank") Paradise Soft
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Oct.2016 ~ Dec.2017
		.col-md-9
			.title.hidden-print
				p 後端工程師 / Back-end Developer
			.title.visible-print-block
				p Paradise Soft
			.company.visible-print-block
				p 後端工程師 / Back-end Developer
					span.date Oct.2016 ~ Dec.2017
			.description
				ul
					li Tech stack: Golang, MySQL, Gulp.js
					li Cooperate with front-end team and mobile application team
				p #[.bold Involved project]
					ul
						li #[.underline Back-end API]
							ul
								li Develop and maintain backend API
								li Optimize MySQL query
						li #[.underline Crawler service]
							ul
								li Crawl target website periodically with task manager
								li Implemented data validation system, preventing fake results from spam websites
						li #[.underline API for iOS and Android App]
							ul
								li Optimize response data content, decrease network throughput
								li Implemented mobile app version control system, can do live(hot) update, support app rollback without re-submitting for review
	hr.hidden-print
	.row.hidden-print
		.col-xs-12
			h4
				a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc.
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Mar.2016 ~ Sep.2016
		.col-md-9
			.title.hidden-print
				p 專案經理 / Project Manager
			.title.visible-print-block
				p FLiPER Creative Inc.
			.company.visible-print-block
				p 專案經理 / Project Manager
					span.date Mar.2016 ~ Sep.2016
			.description
				ul.padding-left-20
					li Project management and business development
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Mar.2015 ~ Sep.2016
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.company.visible-print-block
				p 工程師 / Engineer
					span.date Mar.2015 ~ Sep.2016
			.description
				p Contributed to outsourcing business
				ul.padding-left-20
					li Developed websites using WordPress (PHP + MySQL)
					li Customize WordPress modules
					li Design and develop front-end layout with WordPress theme system
					li Developed payment gateway plugin for WooCommerce
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Nov.2014 ~ Mar.2015
		.col-md-9
			.title.hidden-print
				p 工程實習生 / Engineer Internship
			.company.visible-print-block
				p 工程實習生 / Engineer Internship
					span.date Nov.2014 ~ Mar.2015
			.description
				ul.padding-left-20
					li Developed plugins for Joomla's and WordPress
