.row
	.col-xs-12
		h2 Experience
.content
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Sep.2018 ~ Nov.2020
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.title.visible-print-block
				p 工程師 / Engineer
					span.date Sep.2018 ~ Nov.2020
			.company
				p @
					a(href="https://inline.app/", target="_blank") inLine Apps Ltd. (Taiwan)
			.description
				ul
					li Provide a booking management system for Food and Beverage service
					li Provide good quality products which serve to 4+ countries in APAC, avg. 38K reservations created per day in 2019
					li Work with remote team member located in New York
					li Create Customer Service Guideline, planning how to handle customer service
					li Planning API implementation guideline for develop team, separate single controller into several layers in API
				p #[.bold Staging Environment]
					ul
						li Build a staging environment with our infrastructure stack
						li Integrate with Loader.io for the purpose of testing like stress testing, performance testing
						li Integrate with CircleCI, make performance testing as one of our CI/CD pipeline
						li Planning near-production data cloning and generating in staging environment
				p #[.bold Data Monitoring System]
					ul
						li Gathering data from client (iOS App) and server, compare the difference to determine the data synchronization status
						li Measure latency between client and all cloud services, visualize in Kibana, populate data to Stackdriver and setup alert
						li Determine the bottleneck, keep optimize our service
				p #[.bold Billing System]
					ul
						li Maintain and handle the current billing process
						li Planning new billing system and accounting system, automate manual works including calculations, payment and invoicing, handling complicate pricing model
	hr.hidden-print
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Dec.2017 ~ Aug.2018
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.title.visible-print-block
				p 工程師 / Engineer
					span.date Dec.2017 ~ Aug.2018
			.company
				p @
					a(href="https://ljit.io/", target="_blank") LJIT.io (Taiwan)
			.description
				ul
					li Use Node.js, Express.js, Gulp.js, React, Redux, Pug, MongoDB, Redis
					li I'm in charge of back-end and front-end development
				p #[.bold Involved project]
					ul
						li #[.underline Customer service system]
							ul
								li Front-end and back-end development for the chat room, analysis system, reporting system
								li Using Socket.io to communicate between client and server side
						li #[.underline Real-time chat system]
							ul
								li Front-end and back-end development for the landing page, admin dashboard, chat room
								li Using Socket.io to communicate between client and server side
						li #[.underline Recommendation system in lottery game]
							ul
								li Back-end develop for gaming logic implementation, lottery drawing calculation
								li Using Electron to build client-side application
	hr.hidden-print
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Oct.2016 ~ Dec.2017
		.col-md-9
			.title.hidden-print
				p 後端工程師 / Back-end Developer
			.title.visible-print-block
				p 後端工程師 / Back-end Developer
					span.date Oct.2016 ~ Dec.2017
			.company
				p @
					a(href="http://www.paradise-soft.com/", target="_blank") Paradise Soft (Taiwan)
			.description
				ul
					li Cooperate with front-end team and mobile application team
				p #[.bold Involved project]
					ul
						li #[.underline Back-end API]
							ul
								li Develop and maintain API
								li Optimize MySQL query
						li #[.underline Crawler service]
							ul
								li Crawl target website periodically with task manager
								li Implemented data validation, prevent fake result from spam website
								li Implemented a simple failover for all crawler server with Heartbeat Mechanism
						li #[.underline API for iOS and Android App]
							ul
								li Optimize response data content, decrease network throughput
								li Implemented API version control system
								li Implemented App version control system, can do live(hot) update, support app rollback without re-submitting for review
				p #[.bold Back-end development stack I used]
					ul
						li Using Golang for back-end API development
						li Using MySQL to store data, handling huge data by using index and partition
						li Using Gulp.js to do the batch task
	hr.hidden-print
	.row.hidden-print
		.col-md-3
		.col-md-9
			h4 @
				a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc. (Taiwan)
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Mar.2016 ~ Sep.2016
		.col-md-9
			.title.hidden-print
				p 專案經理 / Project Manager
			.title.visible-print-block
				p @FLiPER Creative Inc. (Taiwan)
			.company.visible-print-block
				p 專案經理 / Project Manager
					span.date Mar.2016 ~ Sep.2016
			.description
				ul.padding-left-20
					li Project management
					li Business development
					li System analysis and design
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Mar.2015 ~ Sep.2016
		.col-md-9
			.title.hidden-print
				p 工程師 / Engineer
			.company.visible-print-block
				p 工程師 / Engineer
					span.date Mar.2015 ~ Sep.2016
			.description
				p Contributed to outsourcing business
				ul.padding-left-20
					li Setup website infrastructure
					li Developed websites using WordPress (PHP + MySQL)
					li Customized the WordPress module, including administrator dashboard, membership level system, email system, online shop, crowdfunding platform
					li Design website front-end layout
					li Developed payment gateway plugin for WooCommerce (AllPay, PayPal, ECPay, Pay2GO, Spagateway)
	.row
		.col-md-3.hidden-print
			.date
				p
					span.label.label-default.main-blue-background Nov.2014 ~ Mar.2015
		.col-md-9
			.title.hidden-print
				p 工程實習生 / Engineer Internship
			.company.visible-print-block
				p 工程實習生 / Engineer Internship
					span.date Nov.2014 ~ Mar.2015
			.description
				ul.padding-left-20
					li Developed Joomla's payment gateway plugin, using T-CAT (統一客樂得) Payment
					li Developed WordPress plugin
