extends ../layouts/standard

block body_right_area
	.page-portfolio
		.right-area
			.row
				.col-xs-12
					.portfolio.box
						.row
							.col-xs-12
								h2 Portfolio
						.row.masonry-box
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="https://www.ditfunding.com/", target="_blank")
											img.img-responsive(src="img/ddt-min.png")
									.content
										.title 群眾募資平台 / Crowdfunding Platform
										.description
											p
												ul.padding-left-20
													li Migrate server to Google Cloud Platform, SSL setting
													li Migrate database into WordPress framework
													li Planning whole crowdfunding process, including project submit, content review, user role permission control, comment system, payment process
													li Develop frontend layout, backend API, e-news system, crowdfunding system, payment plugin (using AllPay)
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="https://www.plain-me.com/", target="_blank")
											img.img-responsive(src="img/plain-me-min.png")
									.content
										.title plain-me
										.description
											p
												ul.padding-left-20
													li Famous clothing brand in Taiwan
													li Develop frontend layout, including design UI, UX
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="http://www.heyshow.com/", target="_blank")
											img.img-responsive(src="img/hsw-min.png")
									.content
										.title 作品集入口網站 / Online Portfolios Platform
										.description
											p
												ul.padding-left-20
													li Famous online portfolios website in Taiwan
													li Migrate server from asp.net to PHP, using IIS
													li Migrate database from MSSQL to MySQL
													li Planning database migration into WordPress framework
													li SQL Tunning, develop frontend layout, backend API
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="http://grandmasbear.com.tw/", target="_blank")
											img.img-responsive(src="img/ggb-min.png")
									.content
										.title 品牌形象官網 / Branding Official Website
										.description
											p
												ul.padding-left-20
													li Planning membership system based on WordPress member system
													li Planning monthly event for user to submit article and win the prize
													li Develop frontend layout, backend API
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="http://tiandiren.tw/", target="_blank")
											img.img-responsive(src="img/tdr-min.png")
									.content
										.title 天地人文創 / Tiandiren
										.description
											p
												ul.padding-left-20
													li Develop frontend layout, backend API
													li SEO optimization
													li Electronic newsletter system, using SendGrid
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="http://5945.house/", target="_blank")
											img.img-responsive(src="img/5945-min.png")
									.content
										.title 5945裝潢設計 / 5945 Interior Design
										.description
											p
												ul.padding-left-20
													li Develop frontend layout
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="http://soopsori.com.tw/", target="_blank")
											img.img-responsive(src="img/soopsori-min.png")
									.content
										.title Soopsori
										.description
											p
												ul.padding-left-20
													li Develop frontend layout
													li Develop payment plugin (歐付寶AllPay)
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="http://yinmenglou.com/", target="_blank")
											img.img-responsive(src="img/yinmenglou-min.png")
									.content
										.title 氤夢樓 / Ying Meng Lou
										.description
											p
												ul.padding-left-20
													li Develop frontend layout
													li Taiwan famous writer Liu Yong's portfolio website
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="http://crabs.tw/", target="_blank")
											img.img-responsive(src="img/crabs-min.png")
									.content
										.title 吉美大閘蟹 / Crabs
										.description
											p
												ul.padding-left-20
													li Develop frontend layout
													li SEO optimization
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="http://lamillou.com.tw/", target="_blank")
											img.img-responsive(src="img/lamillou-min.png")
									.content
										.title LaMillou
										.description
											p
												ul.padding-left-20
													li Develop Joomla's payment gateway API (using T-CAT 統一客樂得)
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="http://decors.tw/", target="_blank")
											img.img-responsive(src="img/decors-min.png")
									.content
										.title 宅修聯誼會 / Decors.tw
										.description
											p
												ul.padding-left-20
													li Develop frontend layout
													li Develop Facebook Pages album transmitter
													li SEO optimization
							.col-xs-12.col-md-6.masonry-item
								.thumbnail
									.image
										a(href="http://sonicmaze.tw/", target="_blank")
											img.img-responsive(src="img/son-min.png")
									.content
										.title 品牌形象官網 / Branding Official Website
										.description
											p
												ul.padding-left-20
													li Develop frontend layout
													li SEO optimization
							