extends ../layouts/standard

block head_title
	title Resume - Jimmmmy.com

block body_right_area
	.page-index
		.right-area
			.row
				.col-xs-12
					.profile.box
						.row
							.col-xs-12.col-print-12
								h2 Summary
						.content
							.row
								.col-xs-12
									ul.padding-left-20
										li Web developer with 5 years experience
										li Focus on back-end development
										li Good at communicating and cooperating with different team members
										li Caring organizational cultures
					.skill.box
						.row
							.col-xs-12.col-print-12
								h2 Skill
						.row
							.col-xs-12
								h4.skill-title back-end
						.content
							.row
								.col-xs-12
									.row
										.col-sm-6.col-print-6
											.skill-name
												p Language
											.content
												ul
													li JavaScript (Node.js)
													li Golang
													li PHP
										.col-sm-6.col-print-6
											.skill-name
												p Framework
											.content
												ul
													li Express.js
													li Mocha
													li Jasmine
									.row
										.col-sm-6.col-print-6
											.skill-name
												p Database
											.content
												ul
													li MySQL
													li PostgreSQL
													li MongoDB
													li Firebase
										.col-sm-6.col-print-6
											.skill-name
												p Others
											.content
												ul
													li Redis
													li Elasticsearch
													li Docker
													li Kubernetes (Google Cloud)
													li CircleCI
													li Cloud Functions
						hr.hidden-print
						.row
							.col-xs-12
								h4.skill-title front-end
						.content
							.row
								.col-xs-12
									.row
										.col-sm-6.col-print-6
											.skill-name
												p Language
											.content
												ul
													li JavaScript
													li HTML
													li CSS
										.col-sm-6.col-print-6
											.skill-name
												p Framework
											.content
												ul
													li React
													li Redux
									.row
										.col-sm-6.col-print-6
											.skill-name
												p CSS preprocessor
											.content
												ul
													li Sass
													li Stylus
					.experience.box
						.row
							.col-xs-12
								h2 Experience
						.content
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Sep.2018 ~ Now
								.col-md-9
									.title.hidden-print
										p 工程師 / Engineer
									.title.visible-print-block
										p 工程師 / Engineer
											span.date Sep.2018 ~ Now
									.company
										p @
											a(href="https://inline.app/", target="_blank") inLine Apps Ltd. (Taiwan)
									.description
										ul
											li Provide a booking management system for Food and Beverage service
											li Provide good quality products which serve to 4+ countries in Asia, avg. 38K reservations created per day in 2019
											li Work with remote team member located in New York
											li Create Customer Service Guideline, planning how to handle customer service
											li Planning API implementation guideline for develop team, separate single controller into several layers in API
										p #[.bold Staging Environment]
											ul
												li Build a staging environment with our infrastructure stack
												li Integrate with Loader.io for the purpose of testing like stress testing, performance testing
												li Integrate with CircleCI, make performance testing as one of our CI/CD pipeline
												li Planning near-production data cloning and generating in this environment
										p #[.bold Data Monitoring System]
											ul
												li Gathering data from client (iOS App) and server, compare the difference to determine the synchronization status
												li Measure latency between client and all cloud services, visualize in Kibana, populate data to Stackdriver and setup alert
												li Determine the bottleneck, keep optimize our service
										p #[.bold Billing System]
											ul
												li Maintain and handle the current billing process
												li Planning a new billing system and accounting system, automate manual works including calculations, payment and invoicing, handling complicate pricing model

							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Dec.2017 ~ Aug.2018
								.col-md-9
									.title.hidden-print
										p 工程師 / Engineer
									.title.visible-print-block
										p 工程師 / Engineer
											span.date Dec.2017 ~ Aug.2018
									.company
										p @
											a(href="https://ljit.io/", target="_blank") LJIT.io (Taiwan)
									.description
										ul
											li Use Node.js, Express.js, Gulp.js, React, Redux, Pug, MongoDB, Redis
											li I'm in charge of back-end and front-end development
										p #[.bold Involved project]
											ul
												li #[.underline Customer service system]
													ul
														li Front-end and back-end development for the chat room, analysis system, reporting system
														li Using Socket.io to communicate with client and server
												li #[.underline Real-time chat system]
													ul
														li Front-end and back-end development for the landing page, admin dashboard, chat room
														li Using Socket.io to communicate with client and server
												li #[.underline Recommendation system in lottery game]
													ul
														li Back-end develop for gaming logic implementation, lottery drawing calculation
														li Integrate with lottery website
														li Using Electron to build client-side application
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Oct.2016 ~ Dec.2017
								.col-md-9
									.title.hidden-print
										p 後端工程師 / Back-end Developer
									.title.visible-print-block
										p 後端工程師 / Back-end Developer
											span.date Oct.2016 ~ Dec.2017
									.company
										p @
											a(href="http://www.paradise-soft.com/", target="_blank") Paradise Soft (Taiwan)
									.description
										ul
											li Focus on back-end, involved some infrastructure
											li Cooperate with front-end team and mobile application team
										p #[.bold Involved project]
											ul
												li #[.underline Back-end API]
													ul
														li Develop/maintain API and internal library
														li Optimize MySQL query
												li #[.underline Crawler service]
													ul
														li Crawl target website periodically with task manager
														li Control service with multiple Cloud Service Provider, prevent crawler from being blocked
														li Implement crawler logic, fit all lottery game across the world
														li Implement data validation, prevent fake result from spam website
														li Implement a simple failover mechanism
												li #[.underline API for iOS and Android App]
													ul
														li Middleware between API and App
														li Optimize response data content, decrease network throughput
														li Implement API version control
														li Implement App version control, can do live update for App, even rollback without submitting to App Store
										p #[.bold Back-end development stack I used]
											ul
												li Using Golang for back-end API development and front-end server-side
												li Using MySQL to store data, handling huge data by using index and partition
												li Using Gulp.js to do the batch task
							hr.hidden-print
							.row.hidden-print
								.col-md-3
								.col-md-9
									h4 @
										a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc. (Taiwan)
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Mar.2016 ~ Sep.2016
								.col-md-9
									.title.hidden-print
										p 專案經理 / Project Manager
									.title.visible-print-block
										p @FLiPER Creative Inc. (Taiwan)
									.company.visible-print-block
										p 專案經理 / Project Manager
											span.date Mar.2016 ~ Sep.2016
									.description
										p Managed the progress of projects, contact with customers to help engineers and designers to fully understand what customer needs
										p I'm in charge of: #[br]
											ul.padding-left-20
												li Project management
												li Customer development
												li System analysis and design
												li Establish the sales kit
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Mar.2015 ~ Sep.2016
								.col-md-9
									.title.hidden-print
										p 工程師 / Engineer
									.company.visible-print-block
										p 工程師 / Engineer
											span.date Mar.2015 ~ Sep.2016
									.description
										p Developed front-end and back-end for all projects
										p I'm in charge of: #[br]
											ul.padding-left-20
												li Build up website infrastructure (like VPS environment setting, DNS, database setting)
												li Develop a website by using WordPress (PHP + MySQL), we customized the WordPress module, including administrator dashboard, membership level system, email system, online shop, crowdfunding platform ... etc
												li Design website layout and make it work perfectly by using HTML, CSS, JavaScript
												li Develop payment gateway plugin for WooCommerce (AllPay, PayPal, ECPay, Pay2GO, Spagateway ...)
												li MySQL database tuning, SEO optimization
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Nov.2014 ~ Mar.2015
								.col-md-9
									.title.hidden-print
										p 工程實習生 / Engineer Internship
									.company.visible-print-block
										p 工程實習生 / Engineer Internship
											span.date Nov.2014 ~ Mar.2015
									.description
										p Assist in the development of projects
										p What I've done in this position: #[br]
											ul.padding-left-20
												li Developed Joomla's payment gateway API, using T-CAT (統一客樂得) Payment
												li Developed WordPress plugin like Facebook LikeBox, Facebook Fan Page Album Transmitter ... etc
					.education.box
						.row
							.col-xs-12
								h2 Education
						.content
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Sep.2008 ~ Jun.2012
								.col-md-9.col-print-12
									.school.hidden-print
										p 銘傳大學 / Ming Chuan University
									.school.visible-print-block
										p 銘傳大學 / Ming Chuan University
											span.date Sep.2008 ~ Jun.2012
									.field
										p 資訊工程系 / Department of CSIE
