extends ../layouts/standard

block head_title
	title Resume - Jimmmmy.com

block body_right_area
	.page-index
		.right-area
			.row
				.col-xs-12
					.profile.box
						.row
							.col-xs-12
								h2 Profile
						.content
							.row
								.col-xs-12
									p 4 years' experience as a web developer across front-end, back-end and some infrastructure. I can communicate and cooperate with others clearly. I've worked at startup and large company, so I know what should do in the different time by the growth stage of the company.
									p For more works I've done please visit my portfolio: #[a(href="/portfolio") jimmmmy.com/portfolio]
					.skill.box
						.row
							.col-xs-12
								h2 Skill
						.row
							.col-xs-12
								h4 front-end
						.content
							.row
								.col-xs-12
									.row
										.col-sm-6.col-print-12
											.skill-name
												p HTML, CSS, JavaScript
											.content
												ul
													li 4 years experience
													li Familiar with HTML, CSS and more than 30 projects launched on production environment
													li ES6, Object-Oriented JavaScript
										.col-sm-6.col-print-12
											.skill-name
												p [Framework] React, Redux
											.content
												ul
													li Nearly 1 year experience
													li Have 3 projects launched on production environment with React and Redux
									.row
										.col-sm-6.col-print-12
											.skill-name
												p [CSS preprocessor] Sass, Stylus
											.content
												ul
													li 1 year experience
													li Have 1 projects launched on production environment with Sass and 3 for Stylus
						hr.hidden-print
						.row
							.col-xs-12
								h4 back-end
						.content
							.row
								.col-xs-12
									.row
										.col-sm-6.col-print-12
											.skill-name
												p Golang
											.content
												ul
													li 1 year experience
													li Have 4 projects launched on production environment
													li Have 2 side projects on GitHub
													li Dealing with concurrency problem
													li Keep learning with this elegance language
										.col-sm-6.col-print-12
											.skill-name
												p Node.js
											.content
												ul
													li Nearly 1 year experience
													li Have 5 projects launched on production environment
													li Develop API with Express, Swagger
													li Write unit test with Jasmine, Mocha
									.row
										.col-sm-6.col-print-12
											.skill-name
												p PHP
											.content
												ul
													li 2 years experience and most of time was using WordPress to develop themes and plugins, more than 10 projects launched on production environment
										.col-sm-6.col-print-12
											.skill-name
												p [RDBMS] MySQL
											.content
												ul
													li CRUD
													li Indexing, partition
									.row
										.col-sm-6.col-print-12
											.skill-name
												p [NoSQL] MongoDB, Firebase
											.content
												ul
													li CRUD
													li Take benefit from Firebase to deal with real-time event by cloud trigger
						hr.hidden-print
						.row
							.col-xs-12
								h4 Infrastructure
						.content
							.row
								.col-xs-12
									.row
										.col-sm-6.col-print-12
											.skill-name
												p Docker
											.content
												ul
													li Setting up environment by using Docker Compose
										.col-sm-6.col-print-12
											.skill-name
												p Google Cloud Platform
											.content
												ul
													li Handle cluster services by using Kubernetes Engine
													li Deploy services with Kubernetes and Docker
													li Handle event trigger by using Cloud Functions with Firebase
					.experience.box
						.row
							.col-xs-12
								h2 Experience
						.content
							//- .row
							//- 	.col-md-3.hidden-print
							//- 		.date
							//- 			p
							//- 				span.label.label-default.main-blue-background Sep.2018 ~ Now
							//- 	.col-md-9
							//- 		.title.hidden-print
							//- 			p 工程師 / Engineer
							//- 		.title.visible-print-block
							//- 			p 工程師 / Engineer
							//- 				span.date Sep.2018 ~ Now
							//- 		.company
							//- 			p @
							//- 				a(href="https://inline.app/", target="_blank") inLine Apps Ltd. (Taiwan)
							//- 		.description
							//- 			p Our product is a restaurant reservation system. I'm in charge of back-end development for new features and cloud system optimization, using Node.js, Firebase, Docker, Kubernetes. Also doing front-end work by using React and Redux.
							//- hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Dec.2017 ~ Aug.2018
								.col-md-9
									.title.hidden-print
										p 工程師 / Engineer
									.title.visible-print-block
										p 工程師 / Engineer
											span.date Dec.2017 ~ Aug.2018
									.company
										p @
											a(href="http://ljit.io/", target="_blank") LJIT.io (Taiwan)
									.description
										p Outsourcing company. As a full-stack developer, I use Node.js, MongoDB, Express, React, Redux to deal with projects I've in charge for.
										p I'm involved with projects below: #[br]
											ul.padding-left-20
												li #[.bold Customer service system:] Using Socket.io to build a total solution for customer and the company, include chat room, analysis system, reporting system. I'm in charge of develop chat room feature, include front-end and back-end.
												li #[.bold Real-time chat system:] Our goal is to make a Twitch-like website. I'm in charge of develop whole website from scratch, include front-end and back-end.
												li #[.bold Strategy recommendation system in lottery game:] I'm in charge of develop back-end logic, like lottery drawing calculation, and using Electron to build up client-side application.
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Oct.2016 ~ Dec.2017
								.col-md-9
									.title.hidden-print
										p 後端工程師 / Back-end Developer
									.title.visible-print-block
										p 後端工程師 / Back-end Developer
											span.date Oct.2016 ~ Dec.2017
									.company
										p @
											a(href="http://www.paradise-soft.com/", target="_blank") Paradise Soft (Taiwan)
									.description
										p Develop back-end API, design system architecture, cooperate with front-end and mobile application team.
										p I'm in charge of: #[br]
											ul.padding-left-20
												li #[.bold Back-end API development:] By using Golang and MySQL, follow RESTful principle, building highly available system (5 million database record increase monthly, nearly 1000 users online at the same time).
												li #[.bold Website crawler development:] We need some data from other website for checksum, so we crawl other website densely and periodically. Considering our IP address may being block, we have several crawler server to avoid the checksum service break.
												li #[.bold Develop API for mobile application:] To integrate with existing API, I build a middleware to filter the data which only needed by mobile application. I also make several cache mechanism, no matter it is checked by timestamp or hash, these is all for decrease the transmission cost.
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Mar.2016 ~ Sep.2016
								.col-md-9
									.title.hidden-print
										p 專案經理 / Project Manager
									.title.visible-print-block
										p 專案經理 / Project Manager
											span.date Mar.2016 ~ Sep.2016
									.company
										p @
											a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc. (Taiwan)
									.description
										p Managed the progress of projects, contact with customers to help engineers and designers to accurately understand what customer needs.
										p I'm in charge of: #[br]
											ul.padding-left-20
												li Project management (using Trello, Slack, TeamWeek, and Google Sheets).
												li Customer development.
												li System analysis and design.
												li Establish the sales kit.
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Mar.2015 ~ Sep.2016
								.col-md-9
									.title.hidden-print
										p 工程師 / Engineer
									.title.visible-print-block
										p 工程師 / Engineer
											span.date Mar.2015 ~ Sep.2016
									.company
										p @
											a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc. (Taiwan)
									.description
										p Develop front-end and back-end for projects, and also maintained company's hardware and software.
										p I'm in charge of: #[br]
											ul.padding-left-20
												li Build up website infrastructure (like VPS environment setting, DNS, database setting).
												li Develop a website by using WordPress (PHP + MySQL), depend on our customer, we customizing the WordPress module, like administrator dashboard, membership level system, email system, online shop, crowdfunding platform ... etc.
												li Design website layout and make it work perfectly by using HTML, CSS, JavaScript.
												li Develop payment gateway plugin for WooCommerce (AllPay, PayPal, ECPay, Pay2GO, Spagateway ...).
												li MySQL database tuning, SEO optimization.
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Nov.2014 ~ Mar.2015
								.col-md-9
									.title.hidden-print
										p 工程實習生 / Engineer Internship
									.title.visible-print-block
										p 工程實習生 / Engineer Internship
											span.date Nov.2014 ~ Mar.2015
									.company
										p @
											a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc. (Taiwan)
									.description
										p Assist in the development of projects.
										p What I've done in this position: #[br]
											ul.padding-left-20
												li Develop Joomla's payment gateway API, using T-CAT (統一客樂得) Payment, wrote in PHP.
												li Develop WordPress plugin like Facebook LikeBox, Facebook Fan Page Album Transmitter ... etc, wrote in PHP.
					.education.box
						.row
							.col-xs-12
								h2 Education
						.content
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Sep.2012 ~ Jan.2014
								.col-md-9.col-print-12
									.school.hidden-print
										p 銘傳大學 / Ming Chuan University
									.school.visible-print-block
										p 銘傳大學 / Ming Chuan University
											span.date Sep.2012 ~ Jan.2014
									.field
										p 資訊工程研究所 / Institute of CSIE
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Sep.2008 ~ Jun.2012
								.col-md-9.col-print-12
									.school.hidden-print
										p 銘傳大學 / Ming Chuan University
									.school.visible-print-block
										p 銘傳大學 / Ming Chuan University
											span.date Sep.2008 ~ Jun.2012
									.field
										p 資訊工程系 / Department of CSIE