extends ../layouts/standard

block head_title
	title Resume - Jimmmmy.com

block body_right_area
	.page-index
		.right-area
			.row
				.col-xs-12
					.profile.box
						.row
							.col-xs-12
								h2 Profile
						.content
							.row
								.col-xs-12
									ul.padding-left-20
										li 4 years' experience as a web developer across front-end, back-end and some infrastructure
										li Can communicate and cooperate with others clearly
										li Knowing how to adjust the pace of work in the different growth stage of the company
										li Care organizational culture
					.skill.box
						.row
							.col-xs-12
								h2 Skill
						.row
							.col-xs-12
								h4.skill-title front-end
						.content
							.row
								.col-xs-12
									.row
										.col-sm-6.col-print-12
											.skill-name
												p HTML, CSS, JavaScript
											.content
												ul
													li 4 years experience
													li Familiar with HTML, CSS
													li More than 30 projects launched on production environment
													li ES6, Object-Oriented JavaScript
										.col-sm-6.col-print-12
											.skill-name
												p [Framework] React, Redux
											.content
												ul
													li 1 year experience
													li Have 3 projects launched on production environment
									.row
										.col-sm-6.col-print-12
											.skill-name
												p [CSS preprocessor] Sass, Stylus
											.content
												ul
													li 1 year experience
													li Have 1 project launched on production environment with Sass, 3 projects for Stylus
						hr.hidden-print
						.row
							.col-xs-12
								h4.skill-title back-end
						.content
							.row
								.col-xs-12
									.row
										.col-sm-6.col-print-12
											.skill-name
												p Node.js
											.content
												ul
													li 2 year experience
													li Have 5 projects launched on production environment
													li Develop API with Express.js, Swagger
													li Writing test with Jasmine, Mocha
										.col-sm-6.col-print-12
											.skill-name
												p Golang
											.content
												ul
													li 1 year experience
													li Have 4 projects launched on production environment
													li Have 2 side projects on GitHub
									.row
										.col-sm-6.col-print-12
											.skill-name
												p PHP
											.content
												ul
													li 2 years experience
													li Most of time was using WordPress to develop themes and plugins
													li More than 10 projects launched on production environment
										.col-sm-6.col-print-12
											.skill-name
												p [RDBMS] MySQL, PostgreSQL
											.content
												ul
													li CRUD
													li Indexing, partition
									.row
										.col-sm-6.col-print-12
											.skill-name
												p [NoSQL] MongoDB, Firebase
											.content
												ul
													li CRUD
													li Indexing
													li (Firebase) Manually sharding
						hr.hidden-print
						.row
							.col-xs-12
								h4.skill-title Infrastructure
						.content
							.row
								.col-xs-12
									.row
										.col-sm-6.col-print-12
											.skill-name
												p Google Cloud Platform
											.content
												ul
													li Handle cluster services using Kubernetes Engine
													li Deploy services with Kubernetes and Docker
													li Creating event-driven applications using Cloud Functions with Firebase
													li Using Stackdriver with customize log content to metric server
										.col-sm-6.col-print-12
											.skill-name
												p Docker
											.content
												ul
													li Setting up environment using Docker Compose
					.experience.box
						.row
							.col-xs-12
								h2 Experience
						.content
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Sep.2018 ~ Now
								.col-md-9
									.title.hidden-print
										p 工程師 / Engineer
									.title.visible-print-block
										p 工程師 / Engineer
											span.date Sep.2018 ~ Now
									.company
										p @
											a(href="https://inline.app/", target="_blank") inLine Apps Ltd. (Taiwan)
									.description
										p #[.bold General]
											ul
												li Inline provide a tool for F&B service, focus on booking management system
												li I'm in charge of back-end, front-end development and cloud service optimization, focus on back-end
										p #[.bold Milestone]
											ul
												li Build a staging environment from scratch with our infrastructure stack, for the purpose of doing any testing like stress testing, performance testing, can also verify data consistency on this environment

										p #[.bold Back-end development stack I used]
											ul
												li Using Node.js, Express.js, Swagger for all the service/application we have, including front-end and back-end
												li Using Kubernetes for service, background job and cronjob
												li Using Firebase and PostgreSQL to store data
												li Using Redis (Redis Labs) to store global atomic flag and cache data
												li Using Elasticsearch (Amazon Elasticsearch Service) to store aggregated data for client
												li Using Jasmine for unit testing, CircleCI for CI, Google Kubernetes + Container Registry for CD
												li Using New Relic, Stackdriver to metric and monitoring server status, data consistency, response time
												li Using Transifex for i18n
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Dec.2017 ~ Aug.2018
								.col-md-9
									.title.hidden-print
										p 工程師 / Engineer
									.title.visible-print-block
										p 工程師 / Engineer
											span.date Dec.2017 ~ Aug.2018
									.company
										p @
											a(href="https://ljit.io/", target="_blank") LJIT.io (Taiwan)
									.description
										p #[.bold General]
											ul
												li Use Node.js, Express.js, Gulp.js, React, Redux, Pug, MongoDB, Redis
												li I'm in charge of back-end, front-end development
										p #[.bold Involved project]
											ul
												li #[.underline Customer service system]
													ul
														li Front-end and back-end develop for chat room, analysis system, reporting system
														li Using Socket.io to communicate with client and server
												li #[.underline Real-time chat system]
													ul
														li Front-end and back-end develop for landing page, admin dashboard, chat room
														li Using Socket.io to communicate with client and server
												li #[.underline Recommendation system in lottery game]
													ul
														li Back-end develop for gaming logic implementation, lottery drawing calculation
														li Integration with lottery website, can do bet action by our service
														li Using Electron to build client-side application
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Oct.2016 ~ Dec.2017
								.col-md-9
									.title.hidden-print
										p 後端工程師 / Back-end Developer
									.title.visible-print-block
										p 後端工程師 / Back-end Developer
											span.date Oct.2016 ~ Dec.2017
									.company
										p @
											a(href="http://www.paradise-soft.com/", target="_blank") Paradise Soft (Taiwan)
									.description
										p #[.bold General]
											ul
												li Focus on back-end, involved some infrastructure
												li Cooperate with front-end team and mobile application team
										p #[.bold Involved project]
											ul
												li #[.underline Back-end API]
													ul
														li Develop/maintain API and internal library
														li Optimize MySQL query syntax
												li #[.underline Crawler service]
													ul
														li Crawl target website periodically with task manager
														li Control service with multiple Cloud Service Provider, prevent crawler from being blocked
														li Implement crawler logic, fit all lottery game across the world
														li Implement data validation, prevent fake result from spam website
														li Implement simple failover mechanism
												li #[.underline API for iOS and Android App]
													ul
														li Middleware between API and App
														li Optimize response data content, decrease network throughput
														li Implement API version control
														li Implement App version control, can do live update for App, even rollback without submit to App Store
										p #[.bold Back-end development stack I used]
											ul
												li Using Golang for back-end API development and front-end server side
												li Using MySQL to store data, handling huge data by using index and partition
												li Using Gulp.js to do batch task
							hr.hidden-print
							.row.hidden-print
								.col-md-3
								.col-md-9
									h4 @
										a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc. (Taiwan)
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Mar.2016 ~ Sep.2016
								.col-md-9
									.title.hidden-print
										p 專案經理 / Project Manager
									.title.visible-print-block
										p @FLiPER Creative Inc. (Taiwan)
									.company.visible-print-block
										p 專案經理 / Project Manager
											span.date Mar.2016 ~ Sep.2016
									.description
										p Managed the progress of projects, contact with customers to help engineers and designers to accurately understand what customer needs.
										p I'm in charge of: #[br]
											ul.padding-left-20
												li Project management.
												li Customer development.
												li System analysis and design.
												li Establish the sales kit.
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Mar.2015 ~ Sep.2016
								.col-md-9
									.title.hidden-print
										p 工程師 / Engineer
									.company.visible-print-block
										p 工程師 / Engineer
											span.date Mar.2015 ~ Sep.2016
									.description
										p Develop front-end and back-end for projects, and also maintained company's hardware and software.
										p I'm in charge of: #[br]
											ul.padding-left-20
												li Build up website infrastructure (like VPS environment setting, DNS, database setting).
												li Develop a website by using WordPress (PHP + MySQL), depend on our customer, we customizing the WordPress module, like administrator dashboard, membership level system, email system, online shop, crowdfunding platform ... etc.
												li Design website layout and make it work perfectly by using HTML, CSS, JavaScript.
												li Develop payment gateway plugin for WooCommerce (AllPay, PayPal, ECPay, Pay2GO, Spagateway ...).
												li MySQL database tuning, SEO optimization.
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Nov.2014 ~ Mar.2015
								.col-md-9
									.title.hidden-print
										p 工程實習生 / Engineer Internship
									.company.visible-print-block
										p 工程實習生 / Engineer Internship
											span.date Nov.2014 ~ Mar.2015
									.description
										p Assist in the development of projects.
										p What I've done in this position: #[br]
											ul.padding-left-20
												li Develop Joomla's payment gateway API, using T-CAT (統一客樂得) Payment, wrote in PHP.
												li Develop WordPress plugin like Facebook LikeBox, Facebook Fan Page Album Transmitter ... etc, wrote in PHP.
					.education.box
						.row
							.col-xs-12
								h2 Education
						.content
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Sep.2008 ~ Jun.2012
								.col-md-9.col-print-12
									.school.hidden-print
										p 銘傳大學 / Ming Chuan University
									.school.visible-print-block
										p 銘傳大學 / Ming Chuan University
											span.date Sep.2008 ~ Jun.2012
									.field
										p 資訊工程系 / Department of CSIE
