extends ../layouts/standard

block head_title
	title Resume - Jimmmmy.com

block body_right_area
	.page-index
		.right-area
			.row
				.col-xs-12
					.profile.box
						include ../components/profile.pug
					.skill.box
						include ../components/skill.pug
					.experience.box
						include ../components/experience.pug
					.education.box
						include ../components/education.pug
