extends ../layouts/standard

block body_right_area
	.page-index
		.right-area
			.row
				.col-xs-12
					.profile.box
						.row
							.col-xs-12
								h2 Profile
						.content
							.row
								.col-xs-12
									p 4 years' experience as a web developer across front-end, back-end and some infrastructure. I can communicate and cooperate with others clearly. I've worked at startup and large company, so I know what should do in the different time by the growth stage of the company.
									p For more works I've done please visit my portfolio: #[a(href="#") jimmmmy.com/portfolio]


					.skill.box
						.row
							.col-xs-12
								h2 Skill
						.row
							.col-xs-12
								h4 Front-end
						.content
							.row
								.col-xs-12
									.row
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p HTML
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="60") familiar
											.visible-print-block
												.print-bar
													img(src="img/p60p.png")
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p CSS
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="60") familiar
											.visible-print-block
												.print-bar
													img(src="img/p60p.png")
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p RWD
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="60") familiar
											.visible-print-block
												.print-bar
													img(src="img/p60p.png")
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p JavaScript
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="30", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="30") beginner
											.visible-print-block
												.print-bar
													img(src="img/p20p.png")
						hr.hidden-print
						.row
							.col-xs-12
								h4 Back-end
						.content
							.row
								.col-xs-12
									.row
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p Golang
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="60") familiar
											.visible-print-block
												.print-bar
													img(src="img/p60p.png")
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p PHP
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="50") fine
											.visible-print-block
												.print-bar
													img(src="img/p60p.png")
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p MySQL
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="40") fine
											.visible-print-block
												.print-bar
													img(src="img/p40p.png")
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p Node.js
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="30", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="30") beginner
											.visible-print-block
												.print-bar
													img(src="img/p20p.png")
						hr.hidden-print
						.row
							.col-xs-12
								h4 Other
						.content
							.row
								.col-xs-12
									.row
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p WordPress
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="80", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="80") familiar
											.visible-print-block
												.print-bar
													img(src="img/p80p.png")
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p Bootstrap 3
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="80", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="80") familiar
											.visible-print-block
												.print-bar
													img(src="img/p80p.png")
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p Linux
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="40") fine
											.visible-print-block
												.print-bar
													img(src="img/p40p.png")
										.col-xs-4.col-md-2.col-print-2.height
											.skill-name
												p Git
										.col-xs-8.col-md-4.col-print-4.height
											.progress.hidden-print
												.progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", data-transitiongoal="60") familiar
											.visible-print-block
												.print-bar
													img(src="img/p60p.png")
					.experience.box
						.row
							.col-xs-12
								h2 Experience
						.content
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Dec.2017 ~ Now
								.col-md-9
									.title.hidden-print
										p 工程師 / Engineer
									.title.visible-print-block
										p 工程師 / Engineer
											span.date Dec.2017 ~ Now
									.company
										p
											a(href="http://ljit.io/", target="_blank") LJIT.io (Taiwan)
									.description
										p Developed everything as a full-stack developer, using NodeJS, MongoDB, ExpressJS, ReactJS.
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Oct.2016 ~ Dec.2017
								.col-md-9
									.title.hidden-print
										p 後端工程師 / Backend Developer
									.title.visible-print-block
										p 後端工程師 / Backend Developer
											span.date Oct.2016 ~ Dec.2017
									.company
										p
											a(href="http://www.paradise-soft.com/", target="_blank") Paradise Soft (Taiwan)
									.description
										p Developed backend API for customers website and company's services. #[br] Mainly execute item : #[br]
											ul.padding-left-20
												li Company product's backend API development, using Golang, MySQL.
												li Responsible for Data centre's crawler develop and maintenance, assign as Data centre's project owner. (we call it Data Warehouse, it can statistics and analysis our business data).
												li Responsible for Mobile APP's API develop, assign as Mobile API's project owner.
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Mar.2016 ~ Sep.2016
								.col-md-9
									.title.hidden-print
										p 專案經理 / Project Manager
									.title.visible-print-block
										p 專案經理 / Project Manager
											span.date Mar.2016 ~ Sep.2016
									.company
										p
											a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc. (Taiwan)
									.description
										p Managed the progress of the project, contacted with customers to help engineers and designers to accurately understand what customer needs. #[br] Mainly execute item : #[br]
											ul.padding-left-20
												li Project managed using Trello, Slack, TeamWeek, and Google Sheets.
												li Customer development.
												li In charge of system analysis and design for customer.
												li Enhanced engineer team, including develop process, project execute process, company's sales kit.
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Mar.2015 ~ Sep.2016
								.col-md-9
									.title.hidden-print
										p 工程師 / Engineer
									.title.visible-print-block
										p 工程師 / Engineer
											span.date Mar.2015 ~ Sep.2016
									.company
										p
											a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc. (Taiwan)
									.description
										p Developed frontend and backend for web project (case by case), also maintained company's hardware and software. #[br] Mainly execute item : #[br]
											ul.padding-left-20
												li Build up website infrastructure (VPS environment setting, DNS setting, database install).
												li Developed whole website by using WordPress (PHP + MySQL), website type including crowdfunding, electronic commerce ... etc.
												li Developed frontend layout by using HTML, CSS, JavaScript (for a little animation effect).
												li Customized WordPress plugin, develop admin dashboard function like additional member level system, electronic newsletter system, crowdfunding system .. etc.
												li Develop payment gateway plugin for WooCommerce (AllPay, PayPal, ECPay, Pay2GO, Spagateway ...).
												li MySQL database tuning, SEO optimization.
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Nov.2014 ~ Mar.2015
								.col-md-9
									.title.hidden-print
										p 工程實習生 / Engineer Internship
									.title.visible-print-block
										p 工程實習生 / Engineer Internship
											span.date Nov.2014 ~ Mar.2015
									.company
										p
											a(href="https://flipermag.com/", target="_blank") FLiPER Creative Inc. (Taiwan)
									.description
										p Assisted in web project development, and maintained company products. #[br] Mainly execute item : #[br]
											ul.padding-left-20
												li Developed Joomla's payment gateway API, using T-CAT (統一客樂得) Payment, wrote in PHP.
												li Developed WordPress plugin like Facebook LikeBox, Facebook Fan Page Album Transmitter ... etc, wrote in PHP.
					.education.box
						.row
							.col-xs-12
								h2 Education
						.content
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Sep.2012 ~ Jan.2014
								.col-md-9.col-print-12
									.school.hidden-print
										p 銘傳大學 / Ming Chuan University
									.school.visible-print-block
										p 銘傳大學 / Ming Chuan University
											span.date Sep.2012 ~ Jan.2014
									.field
										p 資訊工程研究所 / Institute of CSIE
							hr.hidden-print
							.row
								.col-md-3.hidden-print
									.date
										p
											span.label.label-default.main-blue-background Sep.2008 ~ Jun.2012
								.col-md-9.col-print-12
									.school.hidden-print
										p 銘傳大學 / Ming Chuan University
									.school.visible-print-block
										p 銘傳大學 / Ming Chuan University
											span.date Sep.2008 ~ Jun.2012
									.field
										p 資訊工程系 / Department of CSIE